/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* Footer */
.footer {
    background-color: #f2f2f2;
    width: 100%;
}

.footer__container {
    max-width: 1400px;
    margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__column {
    flex: 1;
}

.footer__column h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column li {
    margin-bottom: 10px;
}

.footer__column a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer__column a:hover {
    text-decoration: underline;
}

/* Activitées */
.cards-a {
    display: flex;
    gap: 20px;
}

.card-a {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card-a img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card-a h3 {
    margin: 12px;
    font-size: 16px;
}

/* Info */
.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065fc;
    font-size: 12px;
}

/****** Populaires ***********/
.populaires {
    width: 33%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    gap: 30px;
    border-radius: 15px;
    padding: 30px;
    align-items: flex-start;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hébergements */
.six-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0;
}

.six-card a {
    display: block;
    width: calc((100% - 60px) / 3);
}


.hebergements {
    padding-bottom: 15px;
    width: 67%;
}

.hebergements img {
    border-radius: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: block;
}

.card-h {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 4px;
}

.card-h img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Filtres */
.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filtre {
    display: inline-flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 97px;
    font-size: 20px;
    gap: 15px;
}

.filtres :hover {
    background-color: rgba(222, 235, 255, 1);
}

/* Formulaire localisation */
.barre_de_recherche {
    display: inline-flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}

.barre_de_recherche svg {
    padding: 13px 18px;
    width: 16px;
    height: 16px;
    fill: #000;
}

.barre_de_recherche input[type="text"] {
    width: 160px;
    height: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    border: none;
    outline: none;
}

.barre_de_recherche button {
    background: #0065fc;
    color: #fff;
    border: none;
    padding: 13px 22px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    white-space: nowrap;
}

/* Enlever le gras du h3 */
.titre_non_gras {
    font-weight: normal;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440;
    height: 79;
    angle: 0 deg;
    opacity: 1;
}


.liens {
    display: flex;
    width: 344px;
    height: 35px;
    angle: 0 deg;
    opacity: 1;
    left: 1096px;
    gap: 68px;
    padding-right: 50px;
    padding-left: 50px;
}

.h_a_lien {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.h_a_lien:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

.logo_bureau {
    width: 61.09px;
    height: 19px;
    object-fit: contain;
}

.case_logo {
    width: 161.09px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}